@using System;
@{
    
    ViewBag.Title = "About";
}
<h2>About me </h2>
<h3>Mark Gaplievskii</h3>

@*<img src="@Url.Content("Views/Shared/Avatar.jpg")" style="width:200px;height:200px;">*@

<p>My name is <b>Mark Gaplievskii</b>, I am student of Yuri Gagarin State Technical University of Saratov.</p>
<p>In addition to studying at the university I am Software Developer at EPAM Systems. </p>
<p>
    <b>Key hard skills:</b> .NET Framework, WPF, Entity Framework, MVC, SQL Server, ADO.NET, ASP.NET Web API, HTML5, CSS3 and JavaScript.
</p>

    <p>Teamwork experience as a developer. Participated in the development of complex systems implemented for desktop and web applications. Working and communicated with multilingual team. Experience in teaching programming. Winner of the Hackathon aimed at improving the quality of life of the population.</p>
<p><b>Strengths:</b> Flexible, Determined, Responsible, Communicative, Self-organized, Enthusiastic.</p>
