@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Mail:</strong>   <a href="mailto:mark.gaplievskii@gmail.com">mark.gaplievskii@gmail.com</a><br />
    <strong>LinkedIn:</strong>  <a href="https://www.linkedin.com/in/mark-gaplievskii-907488236/">My LinkedIn</a>
</address>