@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Graduation work</h1>
    <p class="lead">My name is Mark Gaplievskii and it's my graduation work in Yuri Gagarin State Technical University of Saratov.</p>
    <p><a href="http://en.sstu.ru/" class="btn btn-primary btn-lg">Learn more about SSTU &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Opportunities</h2>
        <p>
            This application allows you to store documents, search and sort them, as well as download them in PDF format.
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Digital_library">Learn more about Digital Library &raquo;</a></p>
    </div>
</div>